/*Row 1st  */

@media (max-width: 991px){
    .row{
        
        grid-template-columns: 1fr;
        grid-gap: 50px;
        
    }

    .row .contentWrapper{
        
        padding-left: 0;
    }
}


@media(max-width:768px){
    .row{
        width: 90%;

    }
    .row .contentWrapper h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
    
    .row .contentWrapper p{
        line-height: 24px;
    }
    
}

@media(max-width:575px){
    .row .contentWrapper span.textWrapper{
        font-size: 18px;

    }
    .row .contentWrapper h2{
        font-size: 25px;

    }
    
    .row .contentWrapper p{
        font-size: 15px;
        line-height: 22px;
    }

    .row .contentWrapper a{
       font-size: 15px;
        padding: 10px 20px;
        
    }
    
    
}

/*Row 2st  */
@media (max-width: 991px){
    .row-2{
        
        grid-template-columns: 1fr;
        grid-gap: 50px;
        
    }

    .row-2 .contentWrapper-2{
        
        padding-left: 0;
    }
}


@media(max-width:768px){
    .row-2{
        width: 90%;

    }
    .row-2 .contentWrapper-2 h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
    
    .row-2 .contentWrapper-2 p{
        line-height: 24px;
    }
    
}

@media(max-width:575px){
    .row-2 .contentWrapper-2 span.textWrapper-2{
        font-size: 18px;
        padding: 25px;

    }
    .row-2 .contentWrapper-2 h2{
        font-size: 25px;
        padding: 0px 0px 0px 25px;

    }
    
    .row-2 .contentWrapper-2 p{
        font-size: 15px;
        line-height: 22px;
        padding: 0px 0px 0px 25px;
    }

    .row-2 .contentWrapper-2 a{
       font-size: 15px;
        padding: 10px 20px;
        
    }

    .row-2 .contentWrapper-2 ul li{
        padding: 25px;
    }
    
    
}

/*Row 3rd  */
@media (max-width: 991px){
    .row-3{
        
        grid-template-columns: 1fr;
        grid-gap: 50px;
        
    }

    .row-3 .contentWrapper-3{
        
        padding-left: 0;
    }
}


@media(max-width:768px){
    .row-3{
        width: 90%;

    }
    .row-3 .contentWrapper-3 h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
    
    .row-3 .contentWrapper-3 p{
        line-height: 24px;
    }
    
}

@media(max-width:575px){
    .row-3 .contentWrapper-3 span.textWrapper-3{
        font-size: 18px;

    }
    .row-3 .contentWrapper-3 h2{
        font-size: 25px;

    }
    
    .row-3 .contentWrapper-3 p{
        font-size: 15px;
        line-height: 22px;
    }

    .row-3 .contentWrapper-3 a{
       font-size: 15px;
        padding: 10px 20px;
        
    }
    
    
}

/*Row 4rd  */
@media (max-width: 991px){
    .row-4{
        
        grid-template-columns: 1fr;
        grid-gap: 50px;
        
    }

    .row-4 .contentWrapper-4{
        
        padding-left: 0;
    }
}


@media(max-width:768px){
    .row-4{
        width: 90%;

    }
    .row-4 .contentWrapper-4 h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
    
    .row-4 .contentWrapper-4 p{
        line-height: 24px;
    }
    
}

@media(max-width:575px){
    .row-4 .contentWrapper-4 span.textWrapper-4{
        font-size: 18px;

    }
    .row-4 .contentWrapper-4 h2{
        font-size: 25px;

    }
    
    .row-4 .contentWrapper-4 p{
        font-size: 15px;
        line-height: 22px;
    }

    .row-4 .contentWrapper-4 a{
       font-size: 15px;
        padding: 10px 20px;
        
    }
    
    
}


/*Row 5  */
@media (max-width: 991px){
    .row-5{
        
        grid-template-columns: 1fr;
        grid-gap: 50px;
        
    }

    .row-5 .contentWrapper-5{
        
        padding-left: 0;
        width: 80%;
    }
}


@media(max-width:768px){
    .row-5{
        width: 90%;

    }
    .row-5 .contentWrapper-5 h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
    
    .row-5 .contentWrapper-5 p{
        line-height: 24px;
    }
    
}

@media(max-width:575px){
    .row-5 .contentWrapper-5 span.textWrapper-5{
        font-size: 18px;

    }
    .row-5 .contentWrapper-5 h2{
        font-size: 25px;

    }
    
    .row-5 .contentWrapper-5 p{
        font-size: 15px;
        line-height: 22px;
    }

    .row-5 .contentWrapper-5 a{
       font-size: 15px;
        padding: 10px 20px;
        
    }

   
    
    
}